body {
  background-color: #e8e8e8;
  background: url("./lines.png") no-repeat;
  background-position: 65% 120px;
  background-size: 1190px 1070px;
  font-family: 'Times New Roman', Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .container {
  width: 840px;
  margin-top: 165px;
}

body .container .main_header {
  margin: 25px 0 75px 0;
  font-size: 36px;
  color: #273d46;
  line-height: 1.4;
}

body .container .sub_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(39, 61, 70, 0.6);
  text-transform: uppercase;
}

body .container .paragraph {
  padding: 0 45px;
  margin-bottom: 55px;
  font-size: 24px;
  color: rgba(39, 61, 70, 0.8);
  text-align: left;
  line-height: 1.7;
}

body .container .image {
  margin-bottom: 90px;
  border: 10px solid white;
  -webkit-box-shadow: 15px 15px 65px rgba(59, 59, 59, 0.2);
          box-shadow: 15px 15px 65px rgba(59, 59, 59, 0.2);
}

body .container .list {
  padding: 0 45px;
  margin-bottom: 55px;
  line-height: 1.8;
  text-align: left;
}

body .container .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body .container .list__item_regular {
  color: #273d46;
}

body .container .list__item_italic {
  font-style: italic;
  color: #99cccc;
}

body .container .list__item_bold {
  font-weight: 600;
  color: #273d46;
}

body .container .list__item_crossed {
  text-decoration: line-through;
  color: rgba(39, 61, 70, 0.302);
}

body .container .list__item .check_icon {
  height: 25px;
}

body .container .btn {
  margin-bottom: 140px;
  width: 200px;
  height: 45px;
  margin-left: 45px;
  background-color: #99cccc;
  -webkit-box-shadow: 0 0 20px #99cccc;
          box-shadow: 0 0 20px #99cccc;
  border-radius: 22px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

body .container .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */