body {
    background-color: #e8e8e8;
    background: url('./lines.png') no-repeat;
    background-position: 65% 120px;
    background-size: 1190px 1070px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .container {
        width: 840px;
        margin-top: 165px;
        .main_header {
            margin: 25px 0 75px 0;
            font-size: 36px;
            color: #273d46;
            line-height: 1.4;
        }
        .sub_header {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: rgba(39, 61, 70, 0.6);
            text-transform: uppercase;
        }
        .paragraph {
            padding: 0 45px;
            margin-bottom: 55px;
            font-size: 24px;
            color: rgba(39, 61, 70, 0.8);
            text-align: left;
            line-height: 1.7;
        }
        .image {
            margin-bottom: 90px;
            border: 10px solid white;
            box-shadow: 15px 15px 65px rgba(59, 59, 59, 0.2);
        }
        .list {
            padding: 0 45px;
            margin-bottom: 55px;
            line-height: 1.8;
            text-align: left;
            &__item {
                display: flex;
                align-items: center;
                gap: 12px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                &_regular {
                    color: rgb(39, 61, 70);
                }
                &_italic {
                    font-style: italic;
                    color: #99cccc;
                }
                &_bold {
                    font-weight: 600;
                    color: rgb(39, 61, 70);
                }
                &_crossed {
                    text-decoration: line-through;
                    color: rgba(39, 61, 70, 0.302);
                }
                & .check_icon {
                    height: 25px;
                }
            }
        }
        .btn {
            margin-bottom: 140px;
            width: 200px;
            height: 45px;
            margin-left: 45px;
            background-color: #99cccc;
            box-shadow: 0 0 20px #99cccc;
            border-radius: 22px;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: white;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            transition: 0.1s ease-in-out;
            &:active {
                box-shadow: none;
            }
        }
    }
}
